<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130034857759-dvrh3tkr5m9b1b07eq2ctc63bqa3s1nc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130034857759-dvrh3tkr5m9b1b07eq2ctc63bqa3s1nc</string>
	<key>API_KEY</key>
	<string>AIzaSyCcEni8SyUxBAlexqAzTmsqeQrxkQv6tBM</string>
	<key>GCM_SENDER_ID</key>
	<string>130034857759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AndroBI.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-b41bf</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-b41bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130034857759:ios:77d87b378007f67e63222a</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-b41bf-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>